@font-face {
  font-family: 'Chunk';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("ChunkFive-Regular.woff2") format("woff2"),
       url("ChunkFive-Regular.woff") format("woff"),
       url("ChunkFive-Regular.eot") format("embedded-opentype");
}
