
/**** BASE ********************************************************************/

:root {
  background-color: var(--background);
  color: var(--text);
  font-size: 18px;
  line-height: 1.65;
}

:root,
input,
textarea {
  font-family: Inter, sans-serif;
}
@supports (font-variation-settings: normal) {
  :root,
  input,
  textarea {
    font-family: 'Inter var', sans-serif;
    font-feature-settings: 'calt' 1, 'case' 1, 'zero' 1;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* VV== MARGINS ==VV */

h1, h2 {
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}

p, img, ul, ol, blockquote, pre, form,
pre[class*="language-"] {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

ul ul, ol ol, ul ol, ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

label {
  margin-bottom: 0.75rem;
}

/* ^^== MARGINS ==^^ */

h1, h2 {
  color: var(--text-light);
  font-family: 'Wremena', serif;
  font-weight: 700;
  line-height: 1.2;
}

h1 {font-size: 3rem;}
h2 {font-size: 2rem;}

h2::before {
  content: "# ";
  color: var(--highlighted);
}

img {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

ul, ol {
  margin-left: 2em;
  list-style: none;
}

li {
  position: relative;
}

li::before {
  content: "•";
  position: absolute;
  left: -1em;
}

blockquote {
  border-left: 1rem solid var(--highlighted);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 1.5rem;
  font-style: italic;
}

blockquote > :first-child {
  margin-top: 0;
}

blockquote > :last-child {
  margin-bottom: 0;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

label {
  width: 100%;
}

input,
textarea {
  width: 100%;
  padding: 0.5em;
  background-color: transparent;
  color: var(--text);
  font-size: 1rem;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
  box-shadow: 0 0 0px 1000px var(--background) inset;
  -webkit-text-fill-color: var(--text);
}

button {
  margin-left: auto;
  margin-right: auto;
  border: none;
  padding: 0.5em 2em;
  background-color: var(--text);
  color: var(--background);
  font-size: 1rem;
  font-weight: 700;
}

pre, pre[class*="language-"] {
  font-size: 0.8rem;
}

a {
  color: inherit;
}

em {
  font-style: italic;
}

strong {
  font-weight: 700;
}

img,
pre[class*="language-"],
:not(pre) > code[class*="language-"],
input,
textarea {
  border: 1px solid var(--border);
}

/**** LAYOUT ******************************************************************/

body {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.wrapper {
  max-width: calc(600px - 2rem);
  margin-left: auto;
  margin-right: auto;
}

body > nav *,
body > footer *,
body > main > header * {
  margin-top: 0;
  margin-bottom: 0;
}

body > nav,
body > footer {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

body > main,
body > main > header {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

/**** MODULE ******************************************************************/

body > main > header,
body > footer {
  text-align: center;
}

.meta {color: var(--text-dark);}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 0;
}

.menu li {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.menu li::before {
  content: none;
}

.collection {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.collection li {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.collection li::before {
  content: none;
}

.collection p {
  margin-top: 0;
  margin-bottom: 0;
}

/**** STATE *******************************************************************/

a:hover {
  color: var(--highlighted);
  text-decoration: none;
}

button:hover {
  background-color: var(--highlighted);
  cursor: pointer;
}

input:focus,
textarea:focus {
  outline: 1px solid var(--highlighted);
}

/**** THEME *******************************************************************/

:root {
  --background:   hsl(  0,  0%, 15%);
  --border:       hsl(  0,  0%, 25%);
  --text-dark:    hsl(  0,  0%, 60%);
  --text:         hsl(  0,  0%, 75%);
  --text-light:   hsl(  0,  0%, 85%);
  --highlighted:  hsl(220, 50%, 67%);
}

@media (min-width: 600px) {

  :root {font-size: 20px;}
  h1 {font-size: 4rem;}

  #contact-form label:nth-child(1),
  #contact-form label:nth-child(2) {
    width: calc(50% - 0.5em);
  }

}
