
/**** BASE ********************************************************************/

:root {
  background-color: var(--background);
  color: var(--text);
  font-size: var(--font-size);
  line-height: 1.65;
}

:root,
input,
textarea {
  font-family: Inter, sans-serif;
}
@supports (font-variation-settings: normal) {
  :root,
  input,
  textarea {
    font-family: 'Inter var', sans-serif;
    font-feature-settings: 'calt' 1, 'case' 1, 'zero' 1;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2, p, img, ul, ol, blockquote, pre[class*="language-"] {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

h1, h2 {
  margin-top: 3rem;
  color: var(--text-light);
  font-family: 'Wremena', serif;
  font-weight: 700;
  line-height: 1.2;
}

h1 {font-size: var(--font-size-h1);}
h2 {font-size: 2rem;}

h2::before {
  content: "# ";
  color: var(--highlighted);
}

img {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

ul, ol {
  margin-left: 2em;
  list-style: none;
}

ul ul, ol ol, ul ol, ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

li {
  position: relative;
}

li::before {
  content: "•";
  position: absolute;
  left: -1em;
}

blockquote {
  border-left: 1rem solid var(--highlighted);
  padding: 1.5rem 0 1.5rem 1.5rem;
  font-style: italic;
}

blockquote > :first-child {
  margin-top: 0;
}

blockquote > :last-child {
  margin-bottom: 0;
}

img,
pre[class*="language-"],
:not(pre) > code[class*="language-"] {
  border: 1px solid var(--border);
}

pre[class*="language-"] {
  font-size: 0.8rem;
}

a {
  color: inherit;
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

/**** LAYOUT ******************************************************************/

body {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.wrapper {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

/**** MODULE ******************************************************************/

.meta {color: var(--text-dark);}

body > main > header {
  margin-top: 4rem;
  margin-bottom: 4rem;
  text-align: center;
}

body > main > header > * {
  margin-top: 0;
  margin-bottom: 0;
}

/**** STATE *******************************************************************/

a:hover {
  text-decoration: none;
}

/**** THEME *******************************************************************/

:root {
  --background:   hsl(  0,  0%, 15%);
  --border:       hsl(  0,  0%, 25%);
  --text-dark:    hsl(  0,  0%, 60%);
  --text:         hsl(  0,  0%, 75%);
  --text-light:   hsl(  0,  0%, 85%);
  --highlighted:  hsl(220, 50%, 67%);
  --font-size:    18px;
  --font-size-h1: 2.5rem;
}

@media (min-width: 600px) {
  :root {
    --font-size:    20px;
    --font-size-h1: 3rem;
  }
}
