---
layout: "layouts/base.njk"
---

<header id="header" class="article">
  <h1>{{ title }}</h1>
  <p class="meta">{{ page.date | shortDate }} en {{ category }}</p>
</header>

<h2>Tabla de contenidos</h2>
{{ content | toc | safe }}

{{ content | safe }}
