---
layout: "layouts/base.njk"
---

<header>
  <h1>{{ title }}</h1>
  <p class="meta">{{ page.date | shortDate }} en {{ category }}</p>
</header>

<div class="wrapper">
  {{ content | toc | safe }}
  {{ content | safe }}
</div>
