---
layout: "layouts/base.njk"
---

<header id="header">
  <div class="wrapper">
    <h1>{{ title }}</h1>
    <p>20 Mayo 2020 en <a href="#">Programación gráfica</a></p>
  </div>
</header>

<div class="wrapper">
  {{ content | safe }}
</div>
