<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/assets/style.css">
</head>
<body>

  <nav id="nav">
    <p><a href="/">Sergio Martín</a></p>
    <ul>
      {% for section in sections %}
        {% for collectionPage in collections.all %}
          {% if section == collectionPage.url %}
          <li
            {% if page.url ==  collectionPage.url %}
              class="selected"
            {% endif %}
          ><a href="{{ section }}">{{ collectionPage.data.title }}</a></li>
          {% endif %}
        {% endfor %}
      {% endfor %}
    </ul>
  </nav>

  <main>
    <h1>{{ title }}</h1>
    {{ content | safe }}
  </main>

</body>
</html>
