<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% if page.url === '/' %}
    <title>{{ site.title }} - {{ site.subtitle }}</title>
  {% else %}
    <title>{{ title }} | {{ site.title }}</title>
  {% endif %}
  <meta name="description" content="{{ description }}">
  <link rel="canonical" href="{{ site.url }}{{ page.url }}">
  <link rel="stylesheet" href="/assets/styles/style.css">
</head>
<body>

  <!-- <nav id="nav">
    <ul class="menu">
      <li><strong><a href="/">{{ site.title }}</a></strong></li>
      {% for link in topMenu %}
        <li><a href="{{ link.url }}">{{ link.name }}</a></li>
      {% endfor %}
    </ul>
  </nav> -->

  <main>
    {{ content | safe }}
  </main>

  <!-- <footer id="footer">
    <ul class="menu">
      {% for link in bottomMenu %}
        <li><a href="{{ link.url }}">{{ link.name }}</a></li>
      {% endfor %}
    </ul>
    <p>© Sergio Martín 2020</p>
  </footer> -->

</body>
</html>
