---
title: Sobre mí
---

<header id="header">
  <h1>{{ title }}</h1>
  <p>Soy un desarrollador de Aplicaciones Web especializado en entornos LAMP, aunque cada día más inmerso en el ecosistema JavaScript fullstack.</p>
  <p><strong><a href="/uses">Mi stack tecnológico ⟶</a></strong></p>
  <p><strong><a href="/now">¿Qué estoy haciendo ahora? ⟶</a></strong></p>
</header>

<section>
  <h2>GOTO 10</h2>
  <p>La informática llegó a mi vida y yo estaba en el cine.</p>
  <p>Bueno, en realidad llegó antes, con todas aquellas revistas de informática que coleccionaba con las que regalaban disquetes que no tenía donde ejecutar.</p>
  <p>Pero llegó, y cuando volví, vi sobre mi escritorio mi primer ordenador.</p>
  <p>Mi tío renovó los equipos que tenían en la oficina y me dio ese viejo 286 a 16mHz.</p>
  <p>Tenía un botón que ponía "turbo" y pulsándolo hacía que se alcanzasen la friolera de 20mHz, 1mb de RAM, tarjeta gráfica Hercules y un monitor de fósforo verde. No era suficiente para correr Windows 3.1 que era lo que se llevaba entonces, pero ojeando el libraco de MS-DOS que me dieron con él, descubrí algo mucho mejor que poder jugar al buscaminas o poner texto en negrita, un comando que hacía magia:</p>
  {% highlight "text" %}
    C:\>qbasic_
  {% endhighlight %}
  <p>Descubrí un mundo que me permitía crear cosas aplicando reglas lógicas, me encantaba, era mucho mejor que mis legos. Empecé con los clásicos adivina el número y cosas así.</p>
  <p>Luego cayeron en mis manos unos viejos libros de programación de juegos en <strong>Basic</strong>, eran para otros sistemas, Dragon, Sinclair, me divertía haciéndolos funcionar en mi ordenador, el pong, el bombardeo aéreo...</p>
  <p>A la hora de elegir mi futuro laboral me decidí por otra cosa, montaje audiovisual, pero la programación siempre ha estado ahí, seguía aprendiendo, haciendo proyectos propios y experimentando con nuevos lenguajes y tecnologías:</p>
  <p>Páginas web, una aplicación para gestionar una videoteca en <strong>PHP</strong>, bots que me compraban cartas de TCG baratas cuando alguien se equivocaba con el precio en <strong>Python</strong>, un editor de fotografías en <strong>JavaScript</strong>.</p>
  <p>Ya a mis treinta y tantos me di cuenta de que algo no estaba bien, no era feliz, debía dedicarme a lo que realmente siempre me ha apasionado y completé un grado superior en <strong>Desarrollo de Aplicaciones Web</strong>.</p>
</section>