---
title: Sergio Martín
description: Página personal de Sergio Martín, desarrollador de Aplicaciones Web. Consulta mis artículos y proyectos
permalink: /
---

<header>
  <h1>{{ site.title }}</h1>
  <p><strong>{{ site.subtitle }}</strong></p>
</header>

<div class="wrapper">

  <p>Disfruto creando y aprendiendo para la web. Soy un entusiasta de los estándares y de la vainilla.</p>
  <p><strong><a href="/about/">Leer más sobre mí ⟶</a></strong></p>

  <section>
    <h2>Artículos</h2>
    <ul class="collection">
      {% for article in collections.article | reverse %}
        <li>
          <p><strong><a href="{{ article.url }}">{{ article.data.title }}</a></strong></p>
          <p class="meta">{{article.date | shortDate }} en {{ article.data.category }}</p>
        </li>
      {% endfor %}
    </ul>
  </section>

  <section>
    <h2>Proyectos</h2>
    <ul class="collection">
      {% for project in projects %}
        <li>
          <p><strong><a href="{{ project.linkUrl }}">{{ project.name }}</a></strong></p>
          <p>{{ project.description }}</p>
          <p>
            <a href="{{ project.linkUrl }}">
              <img srcset="
                    /assets/images/{{ project.id }}-1280w.jpg 1280w,
                    /assets/images/{{ project.id }}-960w.jpg 960w,
                    /assets/images/{{ project.id }}-640w.jpg 640w,
                    /assets/images/{{ project.id }}-320w.jpg 320w
                  "
                  src="/assets/images/{{ project.id }}-320w.jpg"
                  alt="{{ project.imageAlt }}">
            </a>
          </p>
        </li>
      {% endfor %}
    </ul>
  </section>

</div>
