---
title: Sergio Martín
permalink: "/"
---

<header id="home-header">
  <img class="avatar" src="/assets/images/avatar.jpg" alt="Mi foto">
  <div class="text">
    <h1>Sergio Martín</h1>
    <p><strong>Desarrollador de Aplicaciones Web.</strong></p>
    <p>Disfruto creando y aprendiendo para la web, soy un entusiasta de los estándares y de la vainilla.</p>
    <p><strong><a href="#">Leer más Sobre Mí ⟶</a></strong></p>
  </div>
</header>

<section>
  <h2>Artículos</h2>
  <ul class="collection">
    <li>
      <p><strong><a href="#">El modelo de color HSL</a></strong></p>
      <p class="meta">6 Mayo 2020 en <a href="#">Programación gráfica</a></p>
    </li>
    <li>
      <p><strong><a href="#">Que hay de nuevo en EcmaScript 2020</a></strong></p>
      <p class="meta">5 Mayo 2020 en <a href="#">JavaScript</a></p>
    </li>
  </ul>
</section>

<section>
  <h2>Proyectos</h2>
  <ul class="collection">
    <li>
      <img src="/assets/images/photoko.jpg" alt="Interfaz del editor de Photoko">
      <p><strong><a href="#">Photoko</a></strong></p>
      <p>Aplicación de procesado/revelado de fotografías digitales.</p>
      <p><a href="#">GitHub</a></p>
    </li>
  </ul>
</section>
