---
title: Sergio Martín
permalink: "/"
---

<header id="header">
  <div class="wrapper">
    <img src="/assets/images/avatar.jpg" alt="Mi foto">
    <h1>Hola, soy Sergio Martín y desarrollo Aplicaciones Web</h1>
    <p class="intro">Disfruto creando y aprendiendo para la web, soy un entusiasta de los estándares y de la vainilla.</p>
    <p><a href="/about" class="arrow-link">Leer más Sobre Mí</a></p>
  </div>
</header>

<section>
  <div class="wrapper">
    <h2>Mis últimos artículos</h2>
    <ul class="collection">
      <li class="block-card">
        <p class="title">El modelo de color HSL El modelo de color HSL</p>
        <p>Pequeña descripción del artículo.</p>
        <p>6 Mayo 2020 en <a href="#">Programación gráfica</a></p>
        <a href="/articles/el-modelo-de-color-hsl" aria-label="Ir al artículo" class="block-link"></a>
        <div class="block-selection"></div>
      </li>
      <li class="block-card">
        <p class="title">Que hay de nuevo en EcmaScript 2020</p>
        <p>Pequeña descripción del artículo.</p>
        <p>5 Mayo 2020 en <a href="#">JavaScript</a></p>
        <a href="/articles/el-modelo-de-color-hsl" aria-label="Ir al artículo" class="block-link"></a>
        <div class="block-selection"></div>
      </li>
      <li class="block-card">
        <p class="title">HTML templates</p>
        <p>Pequeña descripción del artículo.</p>
        <p>4 Mayo 2020 en <a href="#">Frontend</a></p>
        <a href="/articles/el-modelo-de-color-hsl" aria-label="Ir al artículo" class="block-link"></a>
        <div class="block-selection"></div>
      </li>
      <li class="block-card">
        <p class="title">Construyendo un histograma</p>
        <p>Pequeña descripción del artículo.</p>
        <p>3 Mayo 2020 en <a href="#">Programación gráfica</a></p>
        <a href="/articles/el-modelo-de-color-hsl" aria-label="Ir al artículo" class="block-link"></a>
        <div class="block-selection"></div>
      </li>
    </ul>
    <p><a href="/articles" class="arrow-link">Ver todos mis Artículos</a></p>
  </div>
</section>

<section>
  <div class="wrapper">
    <h2>Una selección de mis proyectos</h2>
    <ul class="collection">
      <li class="block-card">
        <p class="title">Photoko</p>
        <p>Aplicación de procesado/revelado de fotografías digitales.</p>
        <p><a href="#">GitHub</a></p>
        <a href="/articles/el-modelo-de-color-hsl" aria-label="Ir al proyecto" class="block-link"></a>
        <div class="block-selection"></div>
      </li>
    </ul>
    <p><a href="/projects" class="arrow-link">Ver todos mis Proyectos</a></p>
  </div>
</section>
