---
title: ¿Qué estoy haciendo ahora?
description: En que ocupo mi tiempo actualmente
---

<header>
  <h1>{{ title }}</h1>
  <p class="meta">Actualizado el {{ page.date | longDate }}</p>
</header>

<div class="wrapper">

  <p>Ahora mismo la mayor parte de mi tiempo se va en un trabajo que no está relacionado con el desarrollo (hostelería) del que quiero huir, aparte de eso también estoy:</p>
  <ul>
    <li><p>Construyendo mi <strong>sitio-portafolio-blog personal</strong> con el que desarrollar una marca personal.</p></li>
    <li><p>Continuando mi proyecto de final de ciclo formativo, <strong>Photoko</strong>, una aplicación de revelado de fotografías digitales (estilo <em>Adobe Lightroom</em>, salvando las diferencias).</p></li>
    <li><p><strong>Leyendo y aprendiendo</strong>, sacando cosas de mi lista de tecnologías a aprender, ahora estoy con <em>Vue</em>.</p></li>
    <li><p>Ayudar a mi mujer con el <strong>WordPress</strong> de su blog personal.</p></li>
    <li><p><strong>Buscar empleo</strong> de desarrollador web.</p></li>
  </ul>

</div>
