---
title: ¿Qué estoy haciendo ahora?
description: ¿Qué estoy haciendo ahora?
---

<header>
  <h1>{{ title }}</h1>
  <p class="meta">Actualizado el {{ page.date | longDate }}</p>
</header>

<div class="wrapper">

  <p>Hasta que empezó la actual situación de confinamiento, la gran parte del tiempo la dedicaba a un trabajo que cada dia detesto más (hostelería), lo que me llevó a intentar hacer un cambio profesional en mi vida para dedicarme a lo que me apasiona, programar. Con el poco tiempo disponible finalizé un <em>Ciclo Formativo de Desarrollo de Aplicaciones Web</em> y actualmente estoy...</p>
  <ul>
    <li>Construyendo mi <strong>sitio-portafolio-blog personal</strong> con el que desarrollar una marca personal.</li>
    <li>Continuando mi proyecto de final de ciclo, <strong>Photoko</strong>, una aplicación de revelado de fotografías digitales (estilo <em>Adobe Lightroom</em>, salvando las diferencias).</li>
    <li><strong>Leyedo y aprendiendo</strong>, principalmente me interesan los standares web de front, Vanilla, cosas como <em>PWA</em>, <em>WebComponents</em>, <em>ES Modules</em>, <em>programación asíncrona</em>, cosas que no tenian cabida en plan de estudios del ciclo formativo.</li>
    <li>Ayudar a mi mujer en el <strong>WordPress</strong> de su blog personal.</li>
    <li><strong>Buscar empleo</strong> de desarrollador web.</li>
  </ul>

</div>
