---
title: Proyectos
---

<header id="header">
  <div class="wrapper">
    <h1>{{ title }}</h1>
  </div>
</header>

<div class="wrapper">
  <ul class="collection">
    <a href="#">
      <li>
        <p>(Foto)</p>
        <p>Photoko</p>
        <p>Aplicación de procesado/revelado de fotografías digitales.</p>
        <p><a href="#">GitHub</a></p>
      </li>
    </a>
  </ul>
</div>