---
title: Proyectos
---

<header id="header">
  <div class="wrapper">
    <h1>{{ title }}</h1>
  </div>
</header>

<div class="wrapper">
  <ul class="collection">
    <li class="block-card">
      <p class="title">Photoko</p>
      <p>Aplicación de procesado/revelado de fotografías digitales.</p>
      <p><a href="#">GitHub</a></p>
      <a href="/articles/el-modelo-de-color-hsl" aria-label="Ir al proyecto" class="block-link"></a>
      <div class="block-selection"></div>
    </li>
  </ul>
</div>