---
title: Mi stack tecnológico
---

<header id="header">
  <div class="wrapper">
    <h1>{{ title }}</h1>
  </div>
</header>

<section>
  <div class="wrapper">
    <h2>Desarrollo</h2>
    <p>Las herramientas que uso en mi entorno de <strong>desarrollo</strong> son:</p>
    <ul>
      <li>Manjaro Linux</li>
      <li>Chromium</li>
      <li>Visual Studio Code</li>
      <li>Bash</li>
      <li>Git</li>
      <li>npm</li>
    </ul>
  </div>
</section>

<section>
  <div class="wrapper">
    <h2>Despliegue</h2>
    <p>Para los <strong>despliegues</strong> en VPS o máquinas virtuales uso un stack clásico <em>LAMP</em> o <em>LEPP</em>:</p>
    <ul>
      <li>CentOS</li>
      <li>NginX</li>
      <li>Apache</li>
      <li>PostgreSQL</li>
      <li>MariaDB/MySQL</li>
      <li>PHP-FPM</li>
    </ul>
  </div>
</section>

<section>
  <div class="wrapper">
    <h2>Tecnologías de frontend</h2>
    <ul>
      <li>HTML</li>
      <li>CSS
        <ul>
          <li>SMACSS</li>
          <li>Bootstrap</li>
        </ul>
      </li>
      <li>JavaScript
        <ul>
          <li>jQuery</li>
          <li>Angular</li>
          <li>TypeScript</li>
        </ul>
      </li>
    </ul>
  </div>
</section>

<section>
  <div class="wrapper">
    <h2>Tecnologías de backend</h2>
    <ul>
      <li>PHP
        <ul>
          <li>Symfony</li>
          <li>WordPress</li>
        </ul>
      </li>
      <li>Lenguaje SQL</li>
    </ul>
  </div>
</section>

<section>
  <div class="wrapper">
    <h2>Las que más me identifican</h2>
    <p>Lo que me gusta realmente es <strong>programar</strong>, front y back, <strong>JS</strong> y <strong>PHP</strong>.</p>
  </div>
</section>

<section>
  <div class="wrapper">
    <h2>Quiero aprender</h2>
    <p>Las cosas que estoy estudiando (o me gustaría hacerlo en breve):</p>
    <ul>
      <li>Node.js</li>
      <li>Express</li>
      <li>PWA</li>
      <li>Vue</li>
      <li>AssemblyScript (WebAssembly)</li>
      <li>Gulp</li>
    </ul>
  </div>
</section>
