---
title: Mi stack tecnológico
description: Herramientas y tecnologías que uso
---

<header>
  <h1>{{ title }}</h1>
</header>

<div class="wrapper">

  <!-- <p>Inspirado en las páginas <strong>/uses</strong> de <a href="https://uses.tech/">https://uses.tech/</a> muestro aquí las herramientas y tecnologías que uso.</p> -->
  <p>Las herramientas y tecnologías que uso:</p>

  <section>
    <h2>Desarrollo</h2>
    <p>En mis entornos de desarrollo empleo a diario:</p>
    <ul>
      <li>Manjaro Linux (GNOME Edition)</li>
      <li>Chromium</li>
      <li>Visual Studio Code</li>
      <li>Bash</li>
      <li>npm</li>
      <li>Git / GitKraken</li>
      <li>Gitkraken Boards / Trello</li>
    </ul>
  </section>

  <section>
    <h2>Despliegue</h2>
    <p>Para los despliegues en VPS o máquinas virtuales uso un stack clásico <em>LAMP</em> o <em>LEPP</em>:</p>
    <ul>
      <li>CentOS Linux</li>
      <li>NginX</li>
      <li>Apache</li>
      <li>PostgreSQL</li>
      <li>MariaDB / MySQL</li>
      <li>PHP / PHP-FPM</li>
      <li>Composer</li>
    </ul>
  </section>

  <section>
    <h2>Tecnologías de frontend</h2>
    <ul>
      <li>HTML</li>
      <li>CSS
        <ul>
          <li>CSS vainilla</li>
          <li>Bootstrap</li>
        </ul>
      </li>
      <li>JavaScript
        <ul>
          <li>JavaScript vainilla</li>
          <li>jQuery</li>
          <li>Eleventy</li>
        </ul>
      </li>
    </ul>
  </section>

  <section>
    <h2>Tecnologías de backend</h2>
    <ul>
      <li>PHP
        <ul>
          <li>Symfony</li>
          <li>WordPress</li>
        </ul>
      </li>
      <li>Lenguaje SQL</li>
    </ul>
  </section>

  <section>
    <h2>Lo que quiero aprender</h2>
    <p>Las cosas que estoy estudiando (o me gustaría hacerlo en breve):</p>
    <ul>
      <li>TypeScript</li>
      <li>Node.js / Deno</li>
      <li>Express</li>
      <li>PWA</li>
      <li>Vue</li>
      <li>AssemblyScript (WebAssembly)</li>
      <li>Gulp</li>
    </ul>
  </section>

</div>
