@font-face {
  font-family: 'Orbitron';
  font-style:  normal;
  font-weight: 300;
  font-display: swap;
  src: url("orbitron-light-webfont.woff") format("woff"),
       url("orbitron-light-webfont.ttf") format("truetype"),
       url("orbitron-light-webfont.eot") format("embedded-opentype"),
       url("orbitron-light-webfont.svg") format("svg");
}

@font-face {
  font-family: 'Orbitron';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("orbitron-medium-webfont.woff") format("woff"),
       url("orbitron-medium-webfont.ttf") format("truetype"),
       url("orbitron-medium-webfont.eot") format("embedded-opentype"),
       url("orbitron-medium-webfont.svg") format("svg");
}

@font-face {
  font-family: 'Orbitron';
  font-style:  normal;
  font-weight: 700;
  font-display: swap;
  src: url("orbitron-bold-webfont.woff") format("woff"),
       url("orbitron-bold-webfont.ttf") format("truetype"),
       url("orbitron-bold-webfont.eot") format("embedded-opentype"),
       url("orbitron-bold-webfont.svg") format("svg");
}

@font-face {
  font-family: 'Orbitron';
  font-style:  normal;
  font-weight: 900;
  font-display: swap;
  src: url("orbitron-black-webfont.woff") format("woff"),
       url("orbitron-black-webfont.ttf") format("truetype"),
       url("orbitron-black-webfont.eot") format("embedded-opentype"),
       url("orbitron-black-webfont.svg") format("svg");
}
