
@import url('https://rsms.me/inter/inter.css');
@import url('https://fonts.googleapis.com/css2?family=Rakkas&display=swap');

/* ----[ BASE ]-------------------------------------------------------------- */

:root {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  --back:     hsl( 0,  0%, 96%);
  --front:    hsl( 0,  0%, 20%);
  --disabled: hsl( 0,  0%, 86%);
  --active:   hsl(44, 88%, 66%);
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: 'Inter var', sans-serif;
    font-feature-settings: 'calt' 1, 'frac' 1, 'case' 1, 'zero' 1;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: var(--disabled);
}

body {
  background-color: var(--back);
  color: var(--front);
}

h1 {
  margin: 1rem 0;
  font-family: 'Rakkas', serif;
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
  line-height: 1.1;
}

p {
  margin: 1rem 0;
}

pre {
  margin: 2rem 0;
  padding: 1rem;
  background-color: var(--front);
  color: hsl(90, 75%, 55%);
}

input, textarea, button {
  outline-color: var(--active);
  padding: 1rem;
  font-size: 1rem;
}

button {
  border: none;
  padding-left: 4rem;
  padding-right: 4rem;
  background-color: var(--active);
  color: var(--front);
  box-shadow: 0.5rem 0.5rem 0 var(--front);
  font-weight: 700;
}

/* ----[ LAYOUT ]------------------------------------------------------------ */

html {
  padding: 0.5rem;
}

body {
  display: flex;
    flex-direction: column;
  max-width: 900px;
  min-height: 100%;
  margin: auto;
  box-shadow: 0.25rem 0.25rem 1rem var(--front);
}

#nav {
  padding: 1rem 1rem 0;
}

#main {
  padding: 0 1rem;
}

#footer {
  margin-top: 2rem;
  padding: 2rem 1rem;
}

@media (min-width:  600px) {
  
  html {
    padding: 1rem;
  }

  #nav {
    padding: 1rem 2rem 0;
  }
  
  #main {
    padding: 0 2rem;
  }
  
  #footer {
    margin-top: 2rem;
    padding: 2rem 2rem;
  }

}

/* ----[ MODULE ]------------------------------------------------------------ */

#nav {
  display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
}

#nav p {
  margin: 0;
  padding: 0 0.6rem;
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
}

#nav ul {
  display: flex;
    flex-wrap: wrap;
    justify-content: center;
  list-style: none;
}

#nav li {
  padding: 0 0.4rem;
  font-size: 0.8rem;
}

#nav a {
  color: inherit;
  text-decoration: none;
}

#footer {
  background-color: var(--front);
  color: var(--back);
}

#footer ul {
  display: flex;
    flex-wrap: wrap;
    justify-content: center;
  list-style: none;
}

#footer svg {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 0.5em;
  fill: var(--back);
  font-size: 1.5rem;
}

#footer p {
  margin: 0.5rem 0 0;
  font-size: 0.8rem;
  text-align: center;
}

#main header {
  margin: 3rem 0;
}

#main .about-photo {
  display: block;
  width: min(45%, 200px);
  margin: 2rem auto;
  border-radius: 50%;
}
@media (min-width:  600px) {
  #main .about-photo {
    float: right;
    margin: 2rem;
    shape-outside: circle(50%);
  }
}

#main .contact-form {
  display: flex;
    flex-direction: column;
}

#main .contact-form label{
  margin-bottom: 1rem;
}

#main .contact-form input,
#main .contact-form textarea {
  margin-top: 0.2rem;
  display: block;
  width: 100%;
}

#main .contact-form button {
  align-self: center;
  margin: 1rem 0 2rem;
}

@media (min-width:  600px) {

  #main .contact-form {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  #main .contact-form .label-name,
  #main .contact-form .label-email {
    width: calc(50% - 0.5rem);
  }

  #main .contact-form .label-name {
    margin-right: 1rem;
  }

  #main .contact-form .label-message {
    width: 100%;
  }

}

/* ----[ STATE ]------------------------------------------------------------- */

#nav .selected {
  background-image: linear-gradient(transparent 55%, var(--active) 55%);
  font-weight: 700;
}

/* ----[ THEME ]------------------------------------------------------------- */
