
@import '/assets/fonts/inter/inter.css';
@import url('https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap');

/**** BASE ********************************************************************/

:root {
  background-color: var(--background);
  color: var(--text);
  font-family: Inter, sans-serif;
  font-size: 18px;
  line-height: 1.5;
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: 'Inter var', sans-serif;
    font-feature-settings: 'calt' 1, 'case' 1, 'zero' 1;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, p, img {
  margin: 1rem 0;
}

h1, h2 {
  margin-top: 3rem;
  color: var(--text-bright);
  font-family: 'Rammetto One', sans-serif;
  font-weight: 400;
  line-height: 1.2;
}

h1 {font-size: 2rem;}
h2 {font-size: 1.5rem;}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

a {
  color: inherit;
}

a:hover {
  color: var(--text-bright);
  text-decoration: none;
}

strong {
  font-weight: 700;
}

/**** LAYOUT ******************************************************************/

body {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
}

#nav {
  margin-top: 1rem;
  margin-bottom: 3rem;
}

#footer {
  margin-top: 3rem;
  margin-bottom: 1rem;
}

/**** MODULE ******************************************************************/

#footer {
  text-align: center;
}

#footer p {
  margin-top: 0;
  margin-bottom: 0;
}

#home-header .avatar {
  width: 200px;
  margin-top: 3rem;
  margin-bottom: 3rem;
  border: 0.6em solid var(--text);
  border-radius: 50%;
}

@media (min-width: 600px) {
  #home-header {
    display: flex;
    align-items: center;
    margin-top: 3rem;
  }

  #home-header .avatar {
    margin: 0 2rem 0 0;
  }

  #home-header .text :first-child {
    margin-top: 0;
  }
  
  #home-header .text :last-child {
    margin-bottom: 0;
  }
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}

.menu li {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.collection {
  list-style: none;
}

.collection li {
  margin: 2rem 1rem;
}

.collection p {
  margin: 0;
}

.collection .meta {
  color: var(--text-dark);
}

.collection img {
  border: 0.6em solid var(--text);
  border-radius: 0.5rem;
  width: 100%;
}

@media (min-width: 600px) {
  .collection img {
    margin-left: 0;
    margin-right: 0;
    width: 50%;
  }
}

/**** STATE *******************************************************************/

/**** THEME *******************************************************************/

:root {
  --background:  hsl(0, 0%, 20%);
  --text-dark:   hsl(0, 0%, 65%);
  --text:        hsl(0, 0%, 75%);
  --text-bright: hsl(0, 0%, 90%);
}
